<h1>Pets</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right">
      <button 
        type="button" 
        class="btn btn-outline-primary" 
        name="button"
        [routerLink]="['/pet', 'new']">
        + new
      </button>
    </div>
</div>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
        <table class="table  ">
            <thead>
              <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Best Friend</th>
                <th scope="col">Age</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>


