<h1>Pets</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-primary" name="button" [routerLink]="['/pet', 'new']">
        + new
      </button>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table  ">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Tipo de hogar</th>
                        <th scope="col">Best Friend</th>
                        <th scope="col">Historia</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let kItem of petList | keys; let i = index ">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ petList[kItem].name }}</td>
                        <td>{{ petList[kItem].age }}</td>
                        <td>{{ petList[kItem].houseType }}</td>
                        <td>{{ petList[kItem].bestFriend }}</td>
                        <td>{{ petList[kItem].history }}</td>
                        <td>
                            <button [routerLink]="['/pet', kItem]" class="btn btn-outline-success" type="button">Editar</button>
                            <button class="btn btn-outline-danger" (click)="deleteRecord(kItem)" type="button">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="(petList | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                <strong>Sin registros</strong>
            </div>
            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Esperando..</strong>
            </div>
        </div>
    </div>
</div>