/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/*para los margenes en los extremmos de la página(up, sides), quitelo y pongalo de nuevo para que vea la diferencia :) */
html, body{
  margin: 0px;
 }

 .main-container{
   margin-top: 10px;
   padding: 10px;
 }