<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Column1</th>
            <th scope="col">Column2</th>
            <th scope="col">Column3</th>
            <th scope="col">Column4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ pi }}</td>
            <td>number</td>
            <td>Apply formato to a number value, acoording to the amoun of decimal we want, if no specified then it puts 3 decimals</td>
            <td>{{ pi | number }}</td>
        </tr>
        <tr>
            <td>{{ pi }}</td>
            <td>number:'3.0-0'</td>
            <td>Apply formato to a number value, acoording to the amoun of decimal we want, if no specified then it puts 3 decimals en este ejemplo decimos que muestre 2 digitos en la parte entrea y 5 en la parte decimal
            </td>
            <td>{{ pi | number:'2.0-5' }}</td>
        </tr>
        <tr>
            <td>{{ testPercentage }}</td>
            <td>percent</td>
            <td>It apply percentage (* 100) an shows the result with the % symbol</td>
            <td>{{ testPercentage | percent }}</td>
        </tr>
        <tr>
            <td>{{ testPercentage }}</td>
            <td>percent:'2.2.2'</td>
            <td>It apply percentage (* 100) an shows the result with the % symbol</td>
            <td>{{ testPercentage | percent:'2.2.2' }}</td>
        </tr>
        <tr>
            <td>{{ salary }}</td>
            <td>currency</td>
            <td>Formats any number to currency val</td>
            <td>{{ salary | currency }}</td>
        </tr>
        <tr>
            <td>{{ salary }}</td>
            <td>currency:'EUR'</td>
            <td>Formats any number to currency val, based on Europe location</td>
            <td>{{ salary | currency:'EUR' }}</td>
        </tr>
        <tr>
            <td>{{ salary }}</td>
            <td>currency:'EUR':true</td>
            <td>Formats any number to currency val, based on Europe location and apply the Symbol for the specific country</td>
            <td>{{ salary | currency:'EUR':true }}</td>
        </tr>
        <tr>
            <td>{{ salary }}</td>
            <td>currency:'EUR':true:'4.0-0'</td>
            <td>Formats any number to currency val, based on Europe location and apply the Symbol for the specific country</td>
            <td>{{ salary | currency:'EUR':true:'4.0-0' }}</td>
        </tr>
        <tr>
            <td>{{ salary }}</td>
            <td>number:'.2-2'</td>
            <td>Formats the value to a number with 2 decimals</td>
            <td>{{ salary | number:'.2-2'}}</td>
        </tr>

        <tr>
            <td>{{ promiseValue }}</td>
            <td>async</td>
            <td>Mire como se comporta , muestra object object</td>
            <td>{{ promiseValue }}</td>
        </tr>

        <tr>
            <td>{{ promiseValue }}</td>
            <td>async</td>
            <td>Muestra el json de la promesa</td>
            <td>{{ promiseValue | json }}</td>
        </tr>

        <tr>
            <td>{{ promiseValue }}</td>
            <td>async</td>
            <td>Acá si espera el tuempo y muestra </td>
            <td>{{ promiseValue | async }}</td>
        </tr>




        <h4>Sin JSON pipe</h4>
        {{ pet }}
        <h4>JSON pipe</h4>
        {{ pet | json }}
        <h4>JSON pipe + Bootstrap</h4>
        <pre>{{ pet | json }}</pre>



    </tbody>
</table>