<div class= "container"> 
  <br>
  <h1>Using Pipes</h1>
  <hr>
    
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Applied Pipe</th>
        <th scope="col">Description</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ name }}</td>
        <td>uppercase</td>
        <td>Transform to capital letter</td>
        <td>{{ name | uppercase }}</td>
      </tr>

      <tr>
          <td>{{ name }}</td>
          <td>lowerCase</td>
          <td>Transform to lower case any string</td>
          <td>{{ name | lowercase }}</td>
      </tr>

      <tr>
          <td>{{ name }}</td>
          <td>slice:3</td>
          <td>It cuts or delete the first N position from the original structure (any string , array ..) </td>
          <td>{{ name | slice:3 }}</td>
      </tr>

      <tr>
          <td>{{ name }}</td>
          <td>slice 0:3</td>
          <td>It cuts  the first N position from the original structure (any string , array ..) And returns it </td>
          <td>{{ name | slice:0:3 }}</td>
      </tr>


      <tr>
          <td>{{ arreglo1 }}</td>
          <td>slice:3 Array</td>
          <td>It cuts or delete the first N position from the original structure (any string , array ..) </td>
          <td>{{ arreglo1 | slice:3 }}</td>
      </tr>

      <tr>
          <td>{{ arreglo1 }}</td>
          <td>slice 0:3 Array </td>
          <td>It cuts  the first N position from the original structure (any string , array ..) And returns it </td>
          <td>{{ arreglo1 | slice:0:3 }}</td>
      </tr>
      
      
    </tbody>
  </table>

  <h4>Slice other example <small>slice is not inclusive for the first position</small></h4>
  <ul>
    <li *ngFor = " let elem of arreglo1 | slice:5:20">{{ elem }}</li>
  </ul>
</div>