<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-6">Net Movies</h1>
        <p class="lead">Tarea de peliculas </p>
    </div>
</div>

<app-row-home [inputMovieList]="inTheatres | slice: 0:6 " [inputTitle]="'In Theatres'"></app-row-home>
<app-row-home [inputMovieList]="popular | slice: 0:6" [inputTitle]="'Popular Movies'"></app-row-home>
<app-row-home [inputMovieList]="popularKids | slice: 0:6" [inputTitle]="'Popular for Kids'"></app-row-home>