<h2>
  {{ movie.title | uppercase }}
</h2>


<div class='row'>
  <div class='col-md-4'>
      <img [src]="movie | movieImage" class="img-fluid" alt="">     

  </div>



  <div class='col-md-8'>
      <h3>
          Sinopsis
      </h3>
      <hr>
      <p>
          {{ movie.overview }}
      </p>

      <h3>
        Frase celebre
      </h3>
      <p>
          {{ movie.tagline }}
      </p>
      <p>Popularidad: <small> {{ movie.popularity }}</small></p>
      <p>Voto promedio:  <small> {{ movie.vote_average }}</small></p>
      <a [routerLink]="['/'+returnTo]" class="btn btn-outline-danger btn-block" href=""> Regresar </a>

  </div>

</div>
